/* ************* */
/* Begin algemeen */
/* ************* */
*, html {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header, .introPagina, .featuredProject {
  color: white;
}


/* ************* */
/* Einde algemeen */
/* ************* */

/* ************* */
/* begin header */
/* ************* */

header {
  position: fixed;
  z-index: 9;
  left: 0;
  right: 0;
  top: 0;
  opacity: 1;
  transition: 1s;
  height: 10vh;
  width: 100vw;
  overflow: hidden;
}

header >div:nth-of-type(1){
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
      padding: 2em;
}

header > div:nth-of-type(1) > div {
  height: 2em;
  width: 8em;
  background-image: url('../images/bowenMediaLogoWit.svg');
  background-size: cover;
  border-style: none;

}

header > div:nth-of-type(1) > button {
  background-color: transparent;
  border: none;
  color: white;
}

header > div:nth-of-type(2){
  visibility: hidden;
  position: absolute;

}

header  li{
display: flex;
margin-top: 2em; margin-bottom: 2em;


}

header li > a{
  text-decoration: none;
  display: flex;
  flex-direction: row;
color: white ;
}

header li span{
transform: rotate(90deg);
display: flex;
margin-left: 1em;
}

header > div:nth-of-type(2){
  margin-left: 2em;
  position: relative;

}

header > div:nth-of-type(2) > a{
  z-index: 12;
  position: relative;
  width: 50vw;
}

header > div:nth-of-type(2) > div{
position: absolute;
left: 0;
top:-1em;
height: 3em;
width: 3em;
border-radius: 100%;
z-index: 11;
opacity: .5;
}

.headerWit{
  background-color: white;
}

.headerWit > div:nth-of-type(1) > div{
  background-image: url('../images/bowenMediaLogoZwart.svg');
}

.headerWit > div:nth-of-type(1) > button{
color: black;
}

.headerHidden{
  opacity: 0;
}

.kensingtonHeader {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%);
}
/* ************* */
/* einde header */
/* ************* */

/* ************* */
/* begin dropdownHeader*/
/* ************* */

body.noScroll{
  height: 100vh;
  overflow: hidden;
}

.dropdownActief{
  position: fixed;
height: 100vh;
width: 100vw;
background-color:black;
}

.dropdownActief *{
color: white !important;
}

.dropdownActief > div:nth-of-type(1) > div{
  background-image: url('../images/bowenMediaLogoWit.svg') !important;
}

.dropdownActief > div:nth-of-type(2){
width: 100vw;
height: 90vh;
visibility: visible;
position: relative;
}

/* ************* */
/* einde dropdownHeader */
/* ************* */


/* ************* */
/* Begin footer */
/* ************* */
footer {
  height: 50vh;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}

footer * {
  opacity: 0;
  font-weight: normal;
}

footer a {
  color: inherit;
  text-decoration: none;
}

footer>div {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 4em;
  margin-top: 2em;
}

footer div {
  overflow: hidden;
  position: relative;
}

footer h1 {
  position: relative;
  margin-top: 30%;
  overflow: hidden;
  height: 1.5em;
}

footer h1 span {
  position: relative;
}

footer a:nth-of-type(1) {
  margin-bottom: 2em;
}

footer div a {
  font-size: .6em;
  letter-spacing: 2px;
  position: relative;
}

footer>div>div>a {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

/* ************* */
/* Einde footer */
/* ************* */

/* ************* */
/* Begin index pagina */
/* ************* */

/* ************* */
/* begin intropagina */
/* ************* */
.introPagina {
  position: relative;
  height: 200vh;
  width: 100vw;
z-index: 1;
}
.introPagina > div{
  height: 100vh;
  width: 100vw;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
overflow: hidden;
}

.introPagina> div >* {
  z-index: 10;
}

.introPagina video {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
}

.introPagina source {
  height: 100%;
  width: 100%;
}

.introPagina p {
  margin-bottom: 5vh;
}

.introPagina h1 {
  display: flex;
  text-align: center;
  font-size: 200%;
}

.introPagina h1:nth-of-type(2) {
  color: purple;
}

.introPagina .playbutton {
  margin-top: 5vh;
  width: 4em;
  height: 4em;
  position: relative;
}

.introPagina .playbutton>span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.introPagina .playbutton>span:nth-of-type(1) {
  clip-path: polygon(87% 50%, 12% 0, 12% 100%);
  background-color: white;
  width: 2em;
  height: 2em;
  z-index: 2;
}

.introPagina .playbutton>span:nth-of-type(2) {
  background-color: black;
  border-radius: 100%;
  width: 4em;
  height: 4em;
  z-index: 1;
}

.introPagina .playbutton>span:nth-of-type(3) {
  background-color: white;
  border-radius: 100%;
  width: 4.2em;
  height: 4.2em;
  clip-path: polygon(0 0, 51% 0, 50% 50%, 0 50%);
}

.introPagina > div >div:nth-of-type(2) {
  position: absolute;
  width: 2px;
  height: 3em;
  overflow: hidden;
  z-index: 4;
  bottom: 2em;
}

.introPagina div:nth-of-type(2) span {
  position: absolute;
  background-color: white;
  width: 2px;
  height: 10em;
}

/* ************* */
/* einde beginpagina */
/* ************* */

/* ************* */
/* Begin featured project */
/* ************* */
.featuredProject {
position: absolute;
visibility: hidden;
  padding-top: 140vh;
  top: 0; bottom: 0; left: 0; right: 0;
  height: 400vh;
opacity: 0;
transition: 1s;
  background-color: #2f5cb6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featuredProjectActief{
opacity: 1;
visibility: visible;
z-index: 2;
  position:absolute;
}

.featuredProject>* {
  width: 80vw;
  margin-top: 1em;
}

.featuredProjectImage {
  position: relative;
  height: 15em;
  overflow: hidden;
}

.featuredProjectImage>div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .50);
  z-index: 1;
}

.featuredProjectImage>img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

.featuredProjectImage>h2 {
  position: absolute;
  left: 1em;
  bottom: 3%;
  z-index: 2;
}

.featuredProject>a {
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  text-decoration: none;
  color: inherit;
}

.PRVofNXT {
  display: flex;
  justify-content: center;
}

.PRVofNXT span {
  width: 5em;
  display: flex;
  justify-content: center;
}

.PRVofNXT span:nth-of-type(1) {
  border-right: 2px solid white;
}

/* ************* */
/* Einde featured project */
/* ************* */

/* ************* */
/* Begin extra kopjes */
/* ************* */

.extraKopjes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
}

.extraKopjes>* {
  width: 80vw;
  margin-top: 1em;
}

.extraKopjes>div {
  display: flex;
  justify-content: space-between;
}

.extraKopjes>p {
  height: 8em;
}

.extraKopjes>h2 {
  margin-top: 4em;
}

.extraKopjes a {
  color: black;
  text-decoration: none;
}

.extraKopjes a span {
  text-decoration: underline;
}
/* ************* */
/* Einde extra kopjes */
/* ************* */

/* ************* */
/* Begin fancy kopjes */
/* ************* */

.latest, .extraKopjes{
  width: 100vw;
  overflow: hidden;
}

.latest> div:nth-of-type(1), .extraKopjes > div:nth-of-type(1){
    position: relative;
    width: 80vw;
}

.latest > div:nth-of-type(1){
    justify-content: center;
}

.latest > div:nth-of-type(1) > h2:nth-of-type(1), .extraKopjes > div:nth-of-type(1) > h2:nth-of-type(1){
    position: relative;
    z-index: 2;
}

 .latest > div:nth-of-type(1) > h2:nth-of-type(2), .extraKopjes > div:nth-of-type(1) > h2:nth-of-type(2){
  position: absolute;
  top: 0;
  color: purple;
  z-index: 1;
opacity: .5;
}

/* ************* */
/* Einde fancy kopjes */
/* ************* */

/* ************* */
/* Begin latest */
/* ************* */

.latest {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

 .latest > img, .latest > div:nth-of-type(2) {
  width: 80vw;
  height: 80vw;
  margin-top: 1em;
  position: relative;
  overflow: hidden;
  margin-bottom: 5vh;
}


.latest>div:nth-of-type(2) {
  background-color: purple;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 4em;
  padding-bottom: 4em;
  padding-left: 3em;
  padding-right: 4em;
}

.latest > div:nth-of-type(3){
  width: 80vw;
  margin-bottom: 1em;
}

.latest>div:nth-of-type(3)>p:nth-of-type(2) {
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: bolder;
}

/* ************* */
/* Einde latest */
/* ************* */

/* ************* */
/* Einde index pagina */
/* ************* */

/* ************* */
/* Begin kensinstonEstate */
/* ************* */

/* ************* */
/* Begin intro */
/* ************* */

.intro div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  font-size: 0.8em;
  margin-bottom: 2em;
}

.intro img {
  width: 100vw;
}

.intro div h1 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.intro>div>div {
  display: flex;
  flex-direction: column;
}

.intro>div>div>div {
  font-size: initial;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  width: 4em;
  margin: 1px;
  background-color: #2f5cb6;
}

/* ************* */
/* Einde intro */
/* ************* */

/* ************* */
/* Begin tekst */
/* ************* */

.tekst {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: lighter;
}

.tekst>* {
  width: 80vw;
  margin-top: 1em;
}

.tekst a {
  color: black;
}

.tekst h2 {
  position: relative;
}

.tekst h2 img {
  position: relative;
  top: .5em;
  height: 1.5em;
}

/* ************* */
/* Begin kleuren */
/* ************* */

.kleuren {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.kleuren>div {
  margin-bottom: 1em;
  margin-right: 2em;
}

.kleuren>div>div {
  height: 8em;
  width: 7em;
}

.kleuren p:nth-of-type(1) {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.kleuren>div:nth-of-type(2) {
  position: relative;
  top: 3em;
}

.kleuren>div:nth-of-type(1)>div {
  background-color: #2a5cb8;
}

.kleuren>div:nth-of-type(2)>div {
  background-color: #0b3075;
}

.kleuren>div:nth-of-type(3)>div {
  background-color: #04162d;
}

/* ************* */
/* Einde kleuren */
/* ************* */

/* ************* */
/* Begin fonts */
/* ************* */

.fonts {
  display: flex;
  flex-wrap: wrap;
}

.fonts div {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 40vw;
  width: 40vw;
}

.fonts div:nth-of-type(1) {
  background-color: #2f5cb6;
  color: white;
}

.fonts div:nth-of-type(1) p:nth-of-type(1) {
  font-size: 2em;
  margin-bottom: .5em;
}

.fonts div:nth-of-type(1) p:nth-of-type(2) {
  font-size: 1.5em;
}

.fonts div:nth-of-type(2) p:nth-of-type(1) {
  font-size: 1.1em;
  margin-bottom: .5em;
}

.fonts div:nth-of-type(2) p:nth-of-type(2) {
  font-size: 1.3em;
}

.fonts h4 {
  margin-top: 3em;
  margin-bottom: 2em;
}

/* ************* */
/* Einde fonts*/
/* ************* */

/* ************* */
/* Begin rest */
/* ************* */

.rest {
  margin-top: 4em;
}

.rest p {
  margin-top: 1em;
}

.rest h3:nth-of-type(1) {
  text-align: center;
  margin-bottom: 3em;
}

.rest span:nth-of-type(1) {
  border-right: 1px solid black;
  padding-right: .2em;
}

.rest h4 {
  margin-bottom: 1em;
}

.rest h4:first-of-type {
  margin-top: 6em;
}

p a {
  color: #51bef5 !important;
  text-decoration: none;
}

.rest img {
  width: 80vw;
  margin-top: 3em;
  margin-bottom: 4em;
}

/* ************* */
/* Einde rest */
/* ************* */

/* ************* */
/* Begin outro */
/* ************* */

.outro {
  position: relative;
  width: 100vw;
  height: 65vh;
  background-color: #2f5cb6;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
}

.outro video {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
}

.outro p, .outro a {
  text-align: center;
  color: white;
  width: 80vw;
  margin-bottom: 2em;
  text-decoration: none;
}

/* ************* */
/* Einde outro */
/* ************* */

/* ************* */
/* Begin laatste foto */
/* ************* */

.laatsteFoto {
  height: 40vh;
  width: 100vw;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.laatsteFoto img {
  width: 80vw;
}

/* ************* */
/* Einde laatste foto */
/* ************* */

/* ************* */
/* Einde tekst */
/* ************* */

/* ************* */
/* Begin back */
/* ************* */

.back {
  position: fixed;
  text-decoration: none;
  color: black;
  top: 50%;
  left: 1em;
  transform: translate(-50%, -50%) rotate(-90deg);
}

/* ************* */
/* Einde back */
/* ************* */

/* ************* */
/* Einde kensinstonEstate */
/* ************* */

/* ************* */
/* Animaties begin*/
/* ************* */

.dropdownActief > div:nth-of-type(2)  > div{
    animation: ballColorChange 10s infinite;
}

@keyframes ballColorChange {
0%{
  background-color: blue;
}
25%{
  background-color:red;
}
50%{
  background-color:brown;
}
75%{
  background-color:purple;
}
100%{
  background-color:blue;
}
}


/* Rotatie playbutton */
.playbutton span:nth-of-type(3) {
  animation: playRotate 3s infinite;
  animation-timing-function: linear;
}

@keyframes playRotate {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.introPagina div:nth-of-type(2) span {
  animation: scrollDown 4s infinite;
}

@keyframes scrollDown {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(100%);
  }
}

.startFooter * {
  opacity: 1;
}

.startFooter h1 span {
  animation: footerUp 1s;
  animation-fill-mode: backwards;
}

.startFooter h1 span:nth-of-type(2) {
  animation-delay: .5s;
}

.startFooter h1 span:nth-of-type(3) {
  animation-delay: 1s;
}

@keyframes footerUp {
  from {
    top: 1.5em;
  }

  to {
    top: 0;
  }
}

.startFooter a:nth-of-type(1) span:nth-of-type(1) {
  animation: footerOpacity 1s;
  animation-fill-mode: backwards;
  animation-delay: 2s;
}

@keyframes footerOpacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.startFooter a:nth-of-type(1) span:nth-of-type(2) {
  position: relative;
  animation: footerOpacityRight 1s;
  animation-fill-mode: both;
  animation-delay: 3s;
}

@keyframes footerOpacityRight {
  from {
    opacity: 0;
    left: -.5em;
  }

  to {
    opacity: 1;
    left: .5em;
  }
}

.startFooter div a {
  animation: footerDown 1s;
  animation-fill-mode: backwards;
  animation-delay: 4s;
}

@keyframes footerDown {
  from {
    top: -1.7em;
  }

  to {
    top: 0;
  }
}




/* ************* */
/* Animaties einde */
/* ************* */
